
.movie-list {
  margin: 0 auto;
  width: 750px;
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  grid-gap: 20px;
  padding: 20px;
  border: 2px solid #ddd;
  border-radius: 5px;
}

.title {
  text-align: center;
}

.movie_card {
  width: 350px;
  border: 2px solid #ddd;
  border-radius: 5px;
  text-align: center;
  cursor: pointer;
}
